.vs/dtisol/config/applicationhost.config
.vs/dtisol/FileContentIndex/00f20ff8-9670-4d4c-b5ac-b890e1d0f8c2.vsidx
.vs/dtisol/FileContentIndex/52c19dc8-10d5-400b-9afa-e64c77db9d8f.vsidx
.vs/dtisol/FileContentIndex/65defa36-ccc5-446e-a6ec-2f1a203418cc.vsidx
.vs/dtisol/FileContentIndex/c2da1fd5-8a0f-4418-96a9-a2a2608dc855.vsidx
.vs/dtisol/FileContentIndex/e453aa3d-e08a-45f4-847e-f9148785918f.vsidx
.vs/dtisol/v17/.wsuo
.vs/dtisol/v17/DocumentLayout.backup.json
.vs/dtisol/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
